{% extends "contacts_and_people/person.html" %}
{% load publications_tags placeholder_tags %}

{% block meta %}
	<meta name="description" content="Research overview for {{ person}}, {{ home_role.role }}"/>
{% endblock meta %}

{% block title %}
	<title>{{ person }} - Research </title>
{% endblock %}

{% block page_title %}
	<h{{PAGE_TITLE_HEADING_LEVEL}} class="name">
        {{ person}} - Research
    </h{{PAGE_TITLE_HEADING_LEVEL}}>
{% endblock page_title %}

{% block person_information %}
    {% if person.researcher.student %}
        <div>
            <dl>
                <dt>Research programme</dt>
                <dd>{{ person.researcher.student.programme }}</dd>
                <dt>Start date</dt>
                <dd>{{ person.researcher.student.start_date|date:"Y" }}</dd>
                <dt>Thesis</dt>
                <dd><cite>{{ person.researcher.student.thesis }}</cite></dd>
            </dl>
            {% if person.researcher.student.supervisors.all %}
            <h3>Supervisors</h3>
            <ul>{% for supervisor in person.researcher.student.supervisors.all %}
                <li><a href="{{ supervisor.get_absolute_url }} ">{{ supervisor }}</a></li>
            {% endfor %}</ul>
            {% endif %}
        </div>
	{% endif %}


  {% if person.researcher.synopsis or person.researcher.description %}
    <div>
        {% if person.researcher.synopsis.cmsplugin_set.all %}
            <h{{ IN_BODY_HEADING_LEVEL }}>Research overview</h{{ IN_BODY_HEADING_LEVEL }}>
		    {% render_placeholder person.researcher.synopsis %}
		{% endif %}
        {% if person.researcher.description.cmsplugin_set.all %}
            <h{{ IN_BODY_HEADING_LEVEL }}>Research description</h{{ IN_BODY_HEADING_LEVEL }}>
		    {% render_placeholder person.researcher.description %}
		{% endif %}
    </div>
	{% endif %}
  <div>
     {% get_selected_person_publications %}
  </div>
{% endblock person_information %}