<cite class = "articles">
	{% if publication.get_url %}<a href = "{{ publication.get_url }}"><strong>{{ publication.title }}</strong></a>
	{% else %}<strong>{{ publication.title }}</strong>
	{% endif %}
</cite>

{% ifequal format "Short" %}
	<br/>{{ publication.first_author }} et al,
	<span class = "publication-details">
		<cite class = "journal">{{ publication.journal|lower|title }}</cite>
    </span>

{% else %}

    <br />{{ publication.authors }} 
	<span class = "publication-details">
		<cite class = "journal">{{ publication.journal|lower|title }}</cite>
		{% if publication.volume %}, Volume {{ publication.volume }}{% endif %}
		{% if publication.issue %}, {{ publication.issue }}{% endif %}
    	{% if publication.get_publication_date %}({{ publication.get_publication_date }}){% endif %}
    	{% if publication.begin_page %}
			{% if publication.end_page %}pp.{{ publication.begin_page }}-{{publication.end_page}}{% else %}p. {{ publication.begin_page }}
			{% endif %}
		{% endif %}
	</span>
{% endifequal %}